<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="HaoDatabase" connectionString="metadata=res://*/FrameWork.HaoDatabase.csdl|res://*/FrameWork.HaoDatabase.ssdl|res://*/FrameWork.HaoDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROCKYOPERATION;initial catalog=RAUCUQUA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NhatDatabase" connectionString="metadata=res://*/FrameWork.NhatDatabase.csdl|res://*/FrameWork.NhatDatabase.ssdl|res://*/FrameWork.NhatDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\MSSQLSERVER01;initial catalog=RAUCUQUA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NganDatabase" connectionString="metadata=res://*/FrameWork.NganDatabase.csdl|res://*/FrameWork.NganDatabase.ssdl|res://*/FrameWork.NganDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-04OEMPU\SQLEXPRESS;initial catalog=RAUCUQUA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TrangDatabase" connectionString="metadata=res://*/FrameWork.TrangDatabase.csdl|res://*/FrameWork.TrangDatabase.ssdl|res://*/FrameWork.TrangDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-F402G34;initial catalog=RAUCUQUA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ThanhDatabase" connectionString="metadata=res://*/FrameWork.ThanhDatabase.csdl|res://*/FrameWork.ThanhDatabase.ssdl|res://*/FrameWork.ThanhDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6E209HP;initial catalog=RAUCUQUA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>