<ul>
    <li><a href="#" title="Login"><i class="fa fa-user"></i></a></li>
    <li><a href="#" title="My favorite"><i class="fa fa-heart"></i><span>0</span></a></li>
    <li><a href="#" title="My cart"><i class="fa fa-shopping-bag"></i><span>0</span></a></li>
</ul>
