<form action="/Product/FindListProduct" method="get">
    <input type="text" class="search-bar" name="searchValue" placeholder="What do you need?" onkeyup="search(this.value)">
    <button type="submit" class="site-btn">SEARCH</button>
</form>

<script src="~/Assets/Main/js/jquery-3.3.1.min.js"></script>
<script src="~/Assets/Main/js/jquery-ui.min.js"></script>
<script>
    @*$('.search-bar').focusout(function () {
        $('.search-result').css('display', 'none')
    })*@
    function search(input) {
        if (input == '') $('.search-result').css('display', 'none')
        else $('.search-result').css('display', 'block')
        $.ajax({
            url: "/Product/FindProduct",
            data: { search: input },
            type: "get",
            success: function (res) {
                $(".search-result li").remove()
                res.data.forEach((item) => {
                    var child = '<li class="search-item"><a href="/Product/Detail/' + item.Id + '">' + item.Value + '</a></li >';
                    $(".search-result").append(child);
                })
            }
        })
    }

    

</script>