
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/MainLayout/_MainLayout.cshtml";
}

<div class="container">
    <div class="text-center">
        <h1>Oops!</h1>
        <h2>404 - Không thể tìm thấy trang</h2>
        <button type="button" class="btn btn-primary m-3 text-white text-decoration-none">@Html.ActionLink("Trở về trang chủ", "Index")</button>
    </div>
</div>