<header class="container-fluid">
    <div class="row">
        <div class="col-3">
            <a href="/Home/Index"><img class="w-50 mx-5 mt-3" src="~/Assets/Main/img/logo.png" alt=""></a>
        </div>
        <h2 class="mt-4">Đăng nhập</h2>
    </div>
</header>