
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>

    
    @RenderSection("Styles", false)
</head>
<body>
    @RenderPage("_LoginHeader.cshtml")
    @RenderBody()
    
    @RenderSection("Scripts", false)
</body>
</html>