
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout/_MainLayout.cshtml";
}

@section StyleNotOverride{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
}

@section Styles{
    <link rel="stylesheet" href="~/Assets/Main/css/styleprofile.css" type="text/css">
}

<div class="container bootstrap snippet">
    <!-- <div class="row">
        <div class="col-sm-10"><h1>User name</h1></div>
    </div> -->
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->


            <div class="text-center">
                <img src="https://png.pngtree.com/png-clipart/20190904/original/pngtree-hand-drawn-flat-wind-user-avatar-icon-png-image_4492039.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
                <div class="text-center"><h4>User name</h4></div>
                <!-- <div class="col-sm-10 text-center"><h6>User name</h6></div> -->
                <!-- <h6>Upload a different photo</h6> -->
                <input type="file" class="text-center center-block file-upload">
            </div></hr><br>


            <div class="panel panel-default">
                <div class="panel-body"><a href=""><i class="fas fa-pencil-alt">Sửa hồ sơ</i></a></div>
            </div>


            <ul class="list-group">
                <li class="list-group-item text-dark">Hồ sơ  <i class="fas fa-file-alt"></i></li>
                <li class="list-group-item text-right"><a href=""><span class="pull-left"><strong><i class="fas fa-user"></i> Tài khoản của tôi</strong></span></a></li>
                <li class="list-group-item text-right"><a href=""><span class="pull-left"><strong><i class="fas fa-receipt"></i> Đơn mua</strong></span></a> 0</li>
                <li class="list-group-item text-right"><a href=""><span class="pull-left"><strong><i class="fas fa-shopping-cart"></i>Giỏ hàng</strong></span></a> 0</li>
                <li class="list-group-item text-right"><a href=""><span class="pull-left"><strong><i class="fas fa-lock"></i> Đổi mật khẩu</strong></span></a> 0</li>
            </ul>



        </div><!--/col-3-->
        <div class="col-sm-9">
            <p><h2>Hồ sơ của tôi</h2></p>
            <p><h5>Quản lý thông tin về hồ sơ để bảo mật tài khoản</h5></p>


            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name"><h4>Họ và tên</h4></label>
                                <input type="text" class="form-control" name="full_name" id="full_name" placeholder="full name" title="enter your full name if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="last_name"><h4>Ngày sinh</h4></label>
                                <input type="text" class="form-control" name="birthday_date" id="birthday_date" placeholder="birthday date" title="enter your birthday date if any.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile"><h4>Địa chỉ</h4></label>
                                <input type="text" class="form-control" name="address" id="address" placeholder="enter address" title="enter your address if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="phone"><h4>Số điện thoại</h4></label>
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Lưu</button>
                                <!-- <button class="btn btn-lg btn-secondary" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button> -->
                            </div>
                        </div>
                    </form>

                    <hr>

                </div><!--/tab-pane-->

            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->


