@model IEnumerable<DAL.FrameWork.GioHang>

@{
    ViewBag.Title = "CartNull";
    Layout = "~/Views/Shared/MainLayout/_MainLayout.cshtml";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section cart-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text text-body-tertiary ">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="Home">Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


<div class="container">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <br />
            <h3>Oh giỏ hàng của bạn đang trống </h3>
            <br />
            <h4>
                Hãy quay về <a style="color:blue; text-decoration:underline;cursor:pointer" onclick="window.open('/Home','_self')">
                    Trang Chủ
                </a> và tiếp tục mua sắm nhé !
            </h4>

        </div>
    </div>
</div>

<br />

@section Styles{
    <link rel="stylesheet" href="~/Assets/Main/css/cart.css">
}




<!-- Shoping Cart Section End -->

@section Scripts{
    <script src="~/Assets/Main/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/Main/js/bootstrap.min.js"></script>
    <script src="~/Assets/Main/js/jquery.nice-select.min.js"></script>
    <script src="~/Assets/Main/js/jquery-ui.min.js"></script>
    <script src="~/Assets/Main/js/jquery.slicknav.js"></script>
    <script src="~/Assets/Main/js/mixitup.min.js"></script>
    <script src="~/Assets/Main/js/owl.carousel.min.js"></script>
    <script src="~/Assets/Main/js/main.js"></script>
}




