
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/LoginLayout/_LoginLayout.cshtml";
}

<div class="card" style="width: 30rem;">
    <div class="card-body">
        @Html.ActionLink(" ", "ForgetPassword", "", new { @class = "fa fa-arrow-left text-decoration-none", @style = "color: green; font-size: 20px;" })
        <form action="RenewPassword" method="POST">
            <h4 class="form-label">Mã xác nhận</h4>
            <input type="Text" name="Code" class="form-control" placeholder="Nhập mã xác nhận" />
            @Html.ValidationMessage("CodeError", new { @class = "text-danger" })

            <button type="submit" class="btn btn-success form-control">Tiếp theo</button>
        </form>
    </div>
</div>


