
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/LoginLayout/_LoginLayout.cshtml";
}

<div class="card" style="width: 30rem;">
    <div class="card-body">
        @Html.ActionLink(" ", "Index", "", new { @class = "fa fa-arrow-left text-decoration-none", @style = "color: green; font-size: 20px;" })
        <form action="ConfirmEmail" method="POST">
            <h4 class="form-label">Đặt lại mật khẩu</h4>
            <input type="text" name="Email" class="form-control" placeholder="Email của bạn" value="@ViewBag.Phone" />
            @Html.ValidationMessage("msFail", new { @class = "text-danger" })

            <button type="submit" class="btn btn-success form-control">Tiếp theo</button>
        </form>
    </div>
</div>